.section7{
    display:block;
            
    background-color:white;
    height: 800px;
    padding: 50px;
    justify-items: center;

    border: 3px solid #063154;
    border-radius: 50px;
    margin-left: 5%;
    margin-right: 5%;
    /*position: relative;     /*обтекание объекта*/

    text-align: center;
    color: #063154;
}

.Registration{
    justify-content: center;
    margin-top: 50px;
    width: 100%;
    row-gap: 50px;
    column-gap: 10px;
}

.RegistButton{
    grid-area: C;
    width: 50%;
    height: 78px;
    border-color: #50718B;
    margin-top: 40px;
    background-color:#50718B;       /*цвет пока кнопку не трогают*/
    margin-left: 25%;
    margin-right: 25%;

    color: #ffffff;
    font-family: 'Krub';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 47px;
    text-align: center;

    transition-duration: 0.6s;
}

.RegistButton:hover {           /*что делается при наведении на кнопку*/
    background-color: #063154;
    color: white;
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.Input{
    display: grid;
    grid-template-areas:
    "A B";
    justify-content: center;
    column-gap: 30px;
    margin-top: 50px;
    justify-items:end;
}

.RegistNameInput{
    grid-area: A;
    width: 400px;
    height: 65px;
    border-color: #83a3bf5d;
    background: #83a3bf5d;
    border-radius: 5px;
    gap: 50px;

    font-family: 'Krub';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 47px;
    padding-left: 15px;
}

#name-error{
    margin-top: 15px;
    display: block;
    margin-bottom: 50px;
}

.RegistEmailInput{
    grid-area: B;
    width: 400px;
    height: 65px;
    border-color: #83a3bf5d;
    background: #83a3bf5d;
    border-radius: 5px;
    top: 30px;

    font-family: 'Krub';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 47px;
    padding-left: 15px;
}

#email-error{
    margin-top: 15px;
    display: block;
}

.overlay{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color:rgba(0, 0, 0, .55);
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 550px;
    height: 300px;
    background-color:#0A2840;
    border-radius: 10px;
}


.modal_subtitle{
    margin-top: 25px;
    text-align: center;

    font-family: 'Krub';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 47px;
    color: #ffffff;
}

.modal_description{
    margin-top: 15px;
    text-align: center;
    font-family: 'Krub';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #ffffff;
}

.ModalButton{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 334px;
    height: 78px;
    border-color: #062138;
    background: #98C5ED;
    margin-top: 65px;

    font-family: 'Krub';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 47px;
    text-align: center;
    color: #ffffff;
}

.agreement{
    margin-top: 80px;
    font-size:20px;
}

.footer{
    display: grid;
    background-color: #0A2840;
    margin: -50px;

    text-decoration-color: #50718B;
    text-align: center;
    min-height: 220px;
    color: #50718B;

    justify-items: center;
    align-items: center;
}